a {
  text-decoration: none;
  color:inherit;
}

#canvas {
  border: 5px solid #000000;
  background-image: url(../images/canvas_background.jpg);
  background-size: 100%;
}
.footer-links {
  display: flex;
  justify-content: space-around;
 
}

.footer-links > li {
  list-style: none;
  font-size: 30px;
  padding: 10px;
  color: #000000;
  text-decoration: none;
}

