a {
  text-decoration: none;
  color:inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #985a7d;
  margin: 0 auto; 
}

#canvas {
  font-family: 'Dosis', sans-serif;
  border: 5px solid #000000;
  background-image: url(../images/canvas_background.jpg);
  background-size: 100%;
  margin: 50px;
  z-index: 0; 
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #6b3e6f;
  border-bottom: 3px solid #000000;
  overflow: auto;
  padding: 20px;
  top: 0px;
  z-index: 0; 
}

.header img {
  height: 50px;
  width: 216px;
}

.email-link {
  font-size: 30px;
  width: 145.31px;
  height: 58px;
  text-align: center;
  vertical-align: middle;
  padding: 0px;
  
}

.email-link a i {
  line-height: 58px;
}
.header-links {
  display: flex;
  justify-content: center;
  padding: 0px;
}

.header-links > li {
  list-style: none;
  font-size: 30px;
  padding: 10px;
  color: #000000;
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
}

.game-start {
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  position: absolute;
  z-index: 1;
  left: 300;
  top: 320;
  text-align: center;
  color: #ff9191;
}

.off {
  display: none;
}

main {
  position: relative;
}

.footer p {
  margin-top: 30px;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
}